<main>
  <h1 class="text-center">Selección de asignatura</h1>

  <section class="accordion">
    <article class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#gii"
                aria-expanded="false"
                aria-controls="gii"
        >
          Ingeniería Informática
        </button>
      </h2>
      <div id="gii" class="accordion-collapse collapse">
        <div class="accordion-body">
            <app-year-accordion [degree]="Degree.Informatica" [subjects]="subjects"/>
        </div>
      </div>
    </article>

    <article class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#gcid"
                aria-expanded="false"
                aria-controls="gcid"
        >
          Ciencia e Ingeniería de Datos
        </button>
      </h2>
      <div id="gcid" class="accordion-collapse collapse">
        <div class="accordion-body">
          <app-year-accordion [degree]="Degree.Datos"/>
        </div>
      </div>
    </article>

    <article class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#gifm"
                aria-expanded="false"
                aria-controls="gifm"
        >
          Ingeniería Física y Matemática
        </button>
      </h2>
      <div id="gifm" class="accordion-collapse collapse">
        <div class="accordion-body">
          <app-year-accordion [degree]="Degree.FyM"/>
        </div>
      </div>
    </article>
  </section>
</main>
