<div class="contenedor-aboutUs">
  <div class="conjunto">

    <div class="titulo">
      <h1>DEII</h1>
      <h2>Delegación</h2>
      <h2>Estudiantes</h2>
    </div>

    <div class="imagen">
      <!-- Espacio reservado para imagen -->
    </div>

    <div class="descripcion">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Mauris commodo blandit tellus, sit amet placerat eros maximus nec. 
        Sed lacus orci, varius sit amet eros vitae, pretium pellentesque ante. 
        Fusce sed lorem sem. Integer ultricies iaculis felis at consectetur. 
        Donec accumsan finibus velit ut dapibus. 
        Sed quis augue fermentum, pretium nulla ac, eleifend augue. 
        Aliquam erat volutpat. Proin porttitor porta pretium. 
        Cras pharetra imperdiet nunc ut tristique. 
        Maecenas in libero in nulla rutrum sagittis tincidunt in purus.
         Maecenas commodo sodales urna, sed auctor felis posuere ultrices
      </p>
    </div>

  </div>
</div>