<div class="contenedor-aboutUs">
  <div class="conjunto">

    <div class="titulo">
      <h1>DEII</h1>
      <h2>Delegación</h2>
      <h2>Estudiantes</h2>
    </div>

    <div class="imagen">
      <img src="../../assets/ImagenAbout-us.png" alt="about-us" class="placeholder-img">
    </div> 

    <div class="descripcion">
      <p>
        Somos la delegación de estudiantes, un grupo de 
        estudiantes que tratamos de mejorar aunque sea un poco, 
        la vida que hacemos en nuestra escuela, y la convivencia 
        con otros compañeros y profesores. Para conseguirlo, 
        nos informamos de lo que piensan los estudiantes, 
        revisamos reglamentos, debatimos, proponemos cambios 
        e intentamos siempre defender y favorecer al estudiantado.
      </p>
    </div>

  </div>
</div>