<main>
  <h1>Agradecimientos</h1>

  <!--Bloques para cada división-->
  <section class="division" [class.open]="isOpenInfra">
    <!--Cabecera desplegable-->
    <article class="div-header" (click)="isOpenInfra = !isOpenInfra">
      <div class="title-bar">
        <div class="orange-bar"></div>
        <span>División de infraestructuras</span>
      </div>
      <i class="bi bi-chevron-down arrow"></i>
    </article>

    <!--Contenido desplegable, se puede mejorar con el uso de @if?-->
    <article class="div-content">
      <div class="grid-2-rows">
        <div class="grid-col">
          <div class="person-card">
            <div class="person-header-card">
              <div class="avatar"></div>
              <div class="person-name">Nombre</div>
            </div>
            <div class="person-desc">Lorem ipsum dolor sit amet,
              consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua.</div>
          </div>
          <div class="person-card">
            <div class="person-header-card">
              <div class="avatar"></div>
              <div class="person-name">Nombre</div>
            </div>
            <div class="person-desc">Lorem ipsum dolor sit amet,
              consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua.</div>
          </div>
          <div class="person-card">
            <div class="person-header-card">
              <div class="avatar"></div>
              <div class="person-name">Nombre</div>
            </div>
            <div class="person-desc">Lorem ipsum dolor sit amet,
              consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua.</div>
          </div>
          <div class="person-card">
            <div class="person-header-card">
              <div class="avatar"></div>
              <div class="person-name">Nombre</div>
            </div>
            <div class="person-desc">Lorem ipsum dolor sit amet,
              consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua.</div>
          </div>
          <div class="person-card">
            <div class="person-header-card">
              <div class="avatar"></div>
              <div class="person-name">Nombre</div>
            </div>
            <div class="person-desc">Lorem ipsum dolor sit amet,
              consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua.</div>
          </div>
          <div class="person-card">
            <div class="person-header-card">
              <div class="avatar"></div>
              <div class="person-name">Nombre</div>
            </div>
            <div class="person-desc">Lorem ipsum dolor sit amet,
              consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua.</div>
          </div>
          <div class="person-card">
            <div class="person-header-card">
              <div class="avatar"></div>
              <div class="person-name">Nombre</div>
            </div>
            <div class="person-desc">Lorem ipsum dolor sit amet,
              consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua.</div>
          </div>
        </div>
      </div>
    </article>
  </section>

  <section class="division" [class.open]="isOpenEst">
    <article class="div-header" (click)="isOpenEst = !isOpenEst">
      <div class="title-bar">
        <div class="orange-bar"></div>
        <span>División de infraestructuras</span>
      </div>
      <i class="bi bi-chevron-down arrow"></i>
    </article>

    <article class="div-content">
      <div class="grid-2-rows">
        <div class="grid-col">
          <div class="person-card">
            <div class="person-header-card">
              <div class="avatar"></div>
              <div class="person-name">Nombre</div>
            </div>
            <div class="person-desc">Lorem ipsum dolor sit amet,
              consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua.</div>
          </div>
          <div class="person-card">
            <div class="person-header-card">
              <div class="avatar"></div>
              <div class="person-name">Nombre</div>
            </div>
            <div class="person-desc">Lorem ipsum dolor sit amet,
              consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua.</div>
          </div>
          <div class="person-card">
            <div class="person-header-card">
              <div class="avatar"></div>
              <div class="person-name">Nombre</div>
            </div>
            <div class="person-desc">Lorem ipsum dolor sit amet,
              consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua.</div>
          </div>
          <div class="person-card">
            <div class="person-header-card">
              <div class="avatar"></div>
              <div class="person-name">Nombre</div>
            </div>
            <div class="person-desc">Lorem ipsum dolor sit amet,
              consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua.</div>
          </div>
          <div class="person-card">
            <div class="person-header-card">
              <div class="avatar"></div>
              <div class="person-name">Nombre</div>
            </div>
            <div class="person-desc">Lorem ipsum dolor sit amet,
              consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua.</div>
          </div>
          <div class="person-card">
            <div class="person-header-card">
              <div class="avatar"></div>
              <div class="person-name">Nombre</div>
            </div>
            <div class="person-desc">Lorem ipsum dolor sit amet,
              consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua.</div>
          </div>
          <div class="person-card">
            <div class="person-header-card">
              <div class="avatar"></div>
              <div class="person-name">Nombre</div>
            </div>
            <div class="person-desc">Lorem ipsum dolor sit amet,
              consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua.</div>
          </div>
        </div>
      </div>
    </article>
  </section>

  <section class="division" [class.open]="isOpenSoc">
    <article class="div-header" (click)="isOpenSoc = !isOpenSoc">
      <div class="title-bar">
        <div class="orange-bar"></div>
        <span>División de infraestructuras</span>
      </div>
      <i class="bi bi-chevron-down arrow"></i>
    </article>

    <article class="div-content">
      <div class="grid-2-rows">
        <div class="grid-col">
          <div class="person-card">
            <div class="person-header-card">
              <div class="avatar"></div>
              <div class="person-name">Nombre</div>
            </div>
            <div class="person-desc">Lorem ipsum dolor sit amet,
              consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua.</div>
          </div>
          <div class="person-card">
            <div class="person-header-card">
              <div class="avatar"></div>
              <div class="person-name">Nombre</div>
            </div>
            <div class="person-desc">Lorem ipsum dolor sit amet,
              consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua.</div>
          </div>
          <div class="person-card">
            <div class="person-header-card">
              <div class="avatar"></div>
              <div class="person-name">Nombre</div>
            </div>
            <div class="person-desc">Lorem ipsum dolor sit amet,
              consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua.</div>
          </div>
          <div class="person-card">
            <div class="person-header-card">
              <div class="avatar"></div>
              <div class="person-name">Nombre</div>
            </div>
            <div class="person-desc">Lorem ipsum dolor sit amet,
              consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua.</div>
          </div>
          <div class="person-card">
            <div class="person-header-card">
              <div class="avatar"></div>
              <div class="person-name">Nombre</div>
            </div>
            <div class="person-desc">Lorem ipsum dolor sit amet,
              consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua.</div>
          </div>
          <div class="person-card">
            <div class="person-header-card">
              <div class="avatar"></div>
              <div class="person-name">Nombre</div>
            </div>
            <div class="person-desc">Lorem ipsum dolor sit amet,
              consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua.</div>
          </div>
          <div class="person-card">
            <div class="person-header-card">
              <div class="avatar"></div>
              <div class="person-name">Nombre</div>
            </div>
            <div class="person-desc">Lorem ipsum dolor sit amet,
              consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua.</div>
          </div>
        </div>
      </div>
    </article>
  </section>

</main>


