/* Familia "Rubik" bajo licencia SIL Open Font */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

/* VARIABLES GLOBALES DE MARCA (CSS Custom Properties) */
:root {
  /* Tinta Corporativa Principal - Naranja */
  --ulpgc-naranja: #FFA100;
  
  /* Tinta Corporativa Principal - Azul */
  --ulpgc-azul: rgb(0, 102, 161);
  
  /* Tinta Corporativa Secundaria - Gris Profundo */
  --ulpgc-gris: #545859;

  /* Familia Tipográfica */
  --font-ulpgc: 'Rubik', sans-serif;
}

/* CLASES GLOBALES PARA TÍTULOS */
/* Tipografía Rubik a todas las cabeceras por defecto */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-ulpgc);
}

/* Jerarquía visual con pesos Medium y Bold */
.titulo-principal {
  color: var(--ulpgc-naranja);
  font-family: var(--font-ulpgc);
  font-weight: 700; /* Equivalente a Rubik Bold */
}

.titulo-secundario {
  color: var(--ulpgc-azul);
  font-family: var(--font-ulpgc);
  font-weight: 500; /* Equivalente a Rubik Medium */
}

.titulo-gris {
  color: var(--ulpgc-gris);
  font-family: var(--font-ulpgc);
  font-weight: 400; /* Equivalente a Rubik Regular */
}